body{
    text-align: center;
    background-color: whitesmoke;
}
table{
    border-collapse: collapse;
    width: auto;
}
th, tr, td {
    border: 1px solid black;
    background-color: white;
}
th, td {
    padding: 10px;
}
td{
    text-align: left;
}
